
.card {
    display: flex;
    flex-direction: column;
}
.image {

    width: 12rem;
    height: 3.5rem;
    justify-content: center;
    border-radius: 5px;
}
.genres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1vh;
    text-decoration: none;
}
.navlinks {
    text-decoration: none;
    color: black;
}
@media (max-width: 760px) {
    .image {
        width: 12rem;
        height: 6rem;
    }
}
@media (min-width: 768px) {
    .image {
        width: 11.5rem;
        height: 5.5rem;
    }
}
@media (min-width: 1024px) {
    .image {
        width: 11rem;
        height: 5.5rem;
    }
}
@media (min-width: 1280px) {
    .image {
        width: 11rem;
        height: 5.5rem;
    }
}
@media (min-width: 1700px) {
    .image {
        width:15rem;
        height: 7rem;
    }
}
