
.divGeneral {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 30%;
    border-radius: 10px;
    padding: 10px;
    /* border: 1px solid #2741efc2; */
    /* box-shadow: 0px 0px 5px 0px #342bff */
}
.select {
    width: 9vw;
    height: 4vh;
    border: none;
    border-radius: 5px;
    margin: 1rem;
    font-family: cursive;
    font-size: .9rem;
    font-weight: 300;
    background-color: #f5f5f5;
    color: black;
    outline: none;
}

@media (min-width: 213px) {
    .select {
        width: 4.8rem;
       
    }    
  }